.div-campanha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 


.card-campanhaIn {
    display: flex;
    width: 400px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: .3s;
    box-shadow: 2px 2px 2px #CCC;
    padding: 20px;
    margin: 20px;
   
    
}

.card-campanha:hover {
    box-shadow: 4px 4px 4px #CCC;

}

.img-campanha {
    margin-right: 50px;
}

.livro-campanha {
    width: 130px;
    height: 170px;
}

.iniciar-campanha{
    width: 164.73px;
}



/*Responsividade mobile*/

@media(max-width: 768px) {
    .div-campanha {
        display: flex;
        flex-direction: column;
    }

    .card-campanha {
        width: 100%;
    }
}
 
.editar {
    margin-right: 10px;
    margin-bottom: 5px;
}
